@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root{
    --main-dark: #F77F00;
    --main-light: #FCBF49;
    --background: #EAE2B7;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAE2B7;
    font-family: Roboto;
}

html {
    scroll-behavior: smooth;
}


/* SCROLLBAR custom */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #F77F00;
    border: 4px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background-color: #F77F00;
    border: 1px solid #F77F00;
    border-radius: 10px;
}

/* CUSTOM */

.left-title{
    font-family: Roboto;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 125px;
}

.center-title{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 3vw;
}

.left-title span, .center-title span{
    color: #FCBF49;
}

.left-underline-md, .left-underline-sm{
    background-color: black;
    height: 10px;
    margin-left: 125px;
    border-radius: 4px;
}

.left-underline-sm{
    width: 10vw;
}

.left-underline-md{
    width: 15vw;
}


@media screen and (max-width: 850px) {
    .left-title, .center-title {
        text-align: center;
        margin-left: 0;
        font-size: 15vw;
    }
    
    .left-underline-sm, .left-underline-md{
        margin-left: 50%;
        transform: translateX(-50%);
        width: 50vw;
    }
}

/* NAVBAR */

/* nav {
    transition: .7s;
}

.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 75px;
    transition: 0.7s;
}

.navbar nav {
    position: absolute;
    background-color: #F77F00;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 100px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
}

.navbar nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
    font-size: 32px;
}

.navbar nav ul .left-nav{
    width: 20%;
}

.navbar nav ul .right-nav{
    width: 80%;
    display: inline-flex;
    justify-content:flex-end;
}

.navbar ul li {
    list-style: none;
    width: 10vw;
    text-align: center;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: .2s;
}

.navbar ul li a::after {
    display: block;
    content: "";
    position: relative;
    background-color:white;
    width: 0%;
    height: 5px;
    transition: .2s ease-in-out;
    border-radius: 20px;
    left: 50px;
}

.navbar ul li a:hover::after {
    width: 50%;
}

@media screen and (max-width: 750px) {
    .navbar {
        width: 75px;
        height: 75px;
    }
    .navbar nav {
        border-bottom-left-radius: 0;
    }
    .navbar .li-accueil {
        visibility: hidden;
    }
}

@media screen and (min-width: 751px) {
    .barres {
        visibility: hidden;
    }
} */


/* NavBar responsive */

/* .reponsiveNav {
    position: absolute;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 12%;
    margin-top: 10vh;
}

.reponsiveNav ul div {
    width: 100%;
    height: 50%;
}

.reponsiveNav .firstLine {
    display: flex;
    justify-content: space-around;
}

.reponsiveNav .secondLine {
    display: flex;
    justify-content: space-around;
}

.reponsiveNav ul a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 6vw;
    transition: .3s;
    transition: .2s;
}

.reponsiveNav ul a:hover {
    text-shadow: 2px 2px 2px #000000;
}

.barres {
    position: absolute;
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.barre {
    width: 70%;
    height: 7px;
    border-radius: 5px;
    background-color: white;
    transition: 0.7s;
}

.barre-with-top {
    margin-top: 8px;
} */

.navbar{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 75px;
    background-color: var(--main-dark);
    box-shadow: 0px 4px 100px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
}

@media screen and (max-width: 1000px) {
    .navbar{
        width: 75px;
        box-shadow: 0px 4px 100px 20px rgba(0, 0, 0, 0.25);
        border-radius: 0 0 20px 0;
        display: flex;
        align-items: center;
    }
    
    .navbar ul{
        display: none !important;
    }

    .responsive-nav{
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .responsive-nav .barre{
    width: 80%;
    height: 8px;
    border-radius: 10px;
    background-color: var(--background);
}
}

.navbar ul{
    display: flex;
    list-style: none;
    height:100%;
    align-items: center;
    justify-content: flex-end;
    color: var(--background);
}

.navbar ul img{
    width: 50px;
}

.navbar ul li:first-child{
    margin-right: auto;
}

.navbar ul li .me-card{
    display: flex;
    align-items: center;
    line-height: 16px;
    margin-left: 20px;
}

.navbar ul li .me-card h4{
    font-size: 26px;
    margin-left: 16px;
    font-weight: 400;
}

.navbar ul li .me-card h4 span{
    font-size: 16px;
}

.navbar ul li:not(:first-child){
    margin: 0 20px;
    font-size: 30px;
    padding: 10px;
    border: 2px solid transparent;
    transition: .2s ease-in-out;
}

.navbar ul li:not(:first-child) a{
    text-decoration: none;
    color: var(--background);
}

.selected-item{
   border-bottom: 2px solid var(--background) !important;
   cursor: pointer;
}

/* SECTION Accueil */

.accueil {
    width: 100%;
    height: 100vh;
}

.accueil-text {
    position: relative;
    width: 100%;
    top: 20vh;
    font-size: 1.5vw;
}

.accueil h1 {
    text-align: center;
}

.accueil h1 {
    font-weight: bold;
}

.accueil h1 p {
    display: inline;
    color: #FCBF49;
}

@media screen and (max-width: 851px) {
    .accueil-text {
        font-size: 4vw;
    }
}

.devices {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translateX(-50%);
    width: 70vmin;
}


/* VECTOR */

.vector {
    width: 100%;
}

.vector1 {
    margin-top: -100px;
    margin-bottom: 20px;
}

.vector2 {
    margin-top: -70px;
    margin-bottom: 50px;
}


/* SECTION Skills */

.skills {
    width: 100%;
}

.h1-skills {
    font-family: Roboto;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 125px;
}

.h1-skills span {
    color: #FCBF49;
}

.h1-skills-underline {
    background-color: black;
    width: 10vw;
    height: 10px;
    margin-left: 125px;
    border-radius: 4px;
}

@media screen and (max-width: 850px) {
    .h1-skills {
        text-align: center;
        margin-left: 0;
        font-size: 15vw;
    }
    .h1-skills-underline {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 50vw;
    }
}

.skills-div {
    margin-top: 8vh;
}

.skills-div .talent {
    display: grid;
    grid-gap: 1vw;
    padding: 16px;
    width: 50vw;
    margin-inline: auto;
}

@media screen and (min-width: 850px) {
    .talent {
        grid-template-columns: repeat(3, 2fr);
    }
}

.skills-div .talent .set {
    background-color: #EAE2B7;
    padding: 1.5vw;
    border-radius: 16px;
    box-shadow: 0px 12px 16px #36363624;
}

@media screen and (max-width: 850px) {
    .talent .set {
        text-align: left;
    }
    .skills-div .talent .set {
        padding: 20px;
        padding-top: 30px;
        margin-top: 2vh;
    }

    .skills{
        margin-bottom: 5em;
    }
}

.skills-div .talent .set:hover {
    cursor: crosshair;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, .3);
}

.skills-div .talent .set span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 48px;
    background-color: #F77F00;
    color: white;
    border-radius: 35%;
    margin-inline: auto;
}

.skills-div .talent .set>header {
    padding-block: 24px;
    font-size: 28px;
    color: #F77F00;
    text-align: center;
}

.skills-div .talent .set .list {
    padding-block: 8px;
    display: grid;
    grid-template-columns: 1fr 28px;
    color: gray;
    text-transform: capitalize;
    font-size: 20px;
}

.skills-div .talent .set:hover .list {
    color: black;
}


/* SECTION Parcour */

.parcour {
    width: 100%;
    height: 60vh;
}

.divParcour {
    background-color: white;
    box-shadow: 0px 4px 57px 12px #00000040;
    height: 60vh;
}

.parcour-title {
    position: relative;
    background-color: #FCBF49;
    margin-right: auto;
    margin-left: auto;
    width: 13vw;
    color: white;
    text-align: center;
    border-radius: 20px;
    top: 50px;
    box-shadow: 0px 0px 24px 2px #00000040;
}

.parcour-title h1 {
    padding: 20px;
}

.frise-svg {
    position: relative;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    top: 10vh;
    height: 13vw;
}

@media screen and (max-width: 850px) {
    .frise-svg {
        margin-top: 5vh;
        height: 80vh;
    }
    .parcour {
        height: 130vh;
    }
    .divParcour {
        height: 130vh;
    }
    .parcour-title {
        width: 80vw;
    }
}


/* SECTION About */

.about {
    width: 100%;
    margin-top: 10vh;
}

.about h1 {
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 3vw;
}

.about p {
    width: 50%;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    font-size: 1vw;
    margin-bottom: 40px;
}

.downloadcv {
    font-size: 2vw;
    text-decoration: none;
    text-align: center;
    color: black;
}

.downloadcv:hover {
    color: #F77F00;
}

@media screen and (max-width: 850px) {
    .downloadcv {
        font-size: 7vw;
    }
}


/* SECTION Projet */

.projets {
    width: 100%;
    height: 120vh;
}

@media screen and (max-width: 750px) {
    .projets {
        top: 700%;
    }
}

.projets-title {
    position: relative;
    top: 20px;
    margin-bottom: 150px;
}

.h1-projets {
    font-family: Roboto;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
}

.h1-projets span {
    color: #FCBF49;
}

.h1-projets-underline {
    position: absolute;
    background-color: black;
    width: 10vw;
    height: 10px;
    border-radius: 4px;
}

@media screen and (max-width: 850px) {
    .h1-projets{
        font-size: 10vw;
        text-align: center;
    }

    .h1-projets-underline {
        width: 40vw;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.projet {
    display: flex;
    width: 1100px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

@media screen and (max-width: 750px) {
    .projet {
        width: 80vw;
    }
}

/* SECTION Contact */

.contact {
    width: 100%;
    height: 70vh;
    margin-top: 10vh;
}

.contactborder {
    background-color: #EAE2B7;
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 50px 13px rgba(66, 66, 66, 0.32);
}

.contact h1 {
    color: black;
    font-size: 48px;
    padding-top: 30px;
    text-align: center;
}

.underlinecontact {
    width: 200px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

@media screen and (max-width: 750px) {
    .contactborder {
        width: 80vw;
        height: 400px;
    }
    .mapouter {
        display: none;
    }
    .contact h1 {
        font-size: 24px;
    }

    .underlinecontact{
        border-radius: 4px;
        width: 30%;
    }

    .verticalmap .icons i {
        font-size: 10px;
    }
}

@media screen and (max-width: 850px) {
    .contact {
        top: 950%;
    }
    .about h1 {
        text-align: center;
        font-size: 12vw;
    }
    .about p {
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        font-size: 16px;
        margin-bottom: 40px;
        width: 80%;
    }

    .contact{
        display: none;
    }
}

.inlinecontact {
    display: inline-flex;
}

.formcontact {
    width: 450px;
    height: 400px;
    margin-top: 24px;
}

.alignIdentity {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.alignIdentity input {
    width: 180px;
}

.formcontact input[type="text"] {
    border: none;
    border-bottom: 3px solid #FCBF49;
    background: transparent;
    height: 30px;
    font-size: 18px;
}

.formcontact input[type="text"]::placeholder {
    font-size: 20px;
}

.formcontact input[name="mail"] {
    width: 400px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 6px;
}

.formcontact input[name="objet"] {
    margin-top: 30px;
    width: 400px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.formcontact textarea {
    border: 3px solid #FCBF49;
    background: transparent;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 396px;
    height: 180px;
    font-size: 18px;
    resize: none;
}

.sendmailinput {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 30px;
    margin-top: 6px;
    background-color: #FCBF49;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px 1px #00000066;
    outline: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
}

.sendmailinput:hover {
    cursor: pointer;
}

.formcontact textarea::placeholder {
    font-size: 20px;
}

.formcontact input {
    outline: none;
}

.verticalmap {
    display: flex;
    flex-direction: column;
}

.verticalmap .icons {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 40px;
}

.icons a{
    text-decoration: none;
    color: black;
    transition: .3s ease-in-out;
}

.icons a:hover{
    color: #F77F00;
}

.verticalmap .icons i {
    font-size: 40px;
}

.iconsText {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.iconsText label {
    margin-top: 10px;
}


/* SECTION Project */

/* .projects {
    position: relative;
    margin-top: 10vh;
    padding: 0 15vw 0 15vw;
    margin-bottom: 20vh;
    height: 95vh;
}

.projects-container {
    width: 100%;
}

.project-top {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: column;
}

.inline-date-download{
    display: inline-flex;
    align-items: end;
}

.download-cr{
    color: black;
    font-size: 50px;
    margin-left: 20px;
    transition: .3s ease-in-out;
}

.download-cr:hover{
    color: #F77F00;
}

.title .icon {
    width: 8vw;
}

.project-title {
    font-size: 45px;
    margin-top: 30px;
}

.title-text {
    margin-top: 15px;
    width: 25vw;
    font-weight: 550;
    margin-bottom: 10vh;
}

.date {
    position: relative;
    bottom: 0;
}

.date h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 5vw;
}

.right img {
    float: right;
    width: 20vw;
}

.stepper-container {
    position: absolute;
    bottom: 0;
    display: inline-flex;
    width: 70%;
    height: 50px;
}

.arrows-stepper {
    display: inline-flex;
    width: 30%;
    padding-left: 13px;
}

.arrow-project {
    transition: .3s;
}

.previous-project {
    transform: rotate(180deg) scale(150%);
    margin-right: 100px;
}

.next-project {
    transform: scale(150%);
}

.previous-project:hover {
    cursor: pointer;
    transform: rotate(180deg) scale(170%);
}

.next-project:hover {
    cursor: pointer;
    transform: scale(170%);
}

.stepper {
    width: 70%;
    height: 50px;
    text-align: center;
}

.stepper-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.stepper-wrapper::before {
    content: "";
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
    z-index: -2;
}

.progress {
    content: "";
    width: 0%;
    height: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #FCBF49;
    position: absolute;
    z-index: -1;
    transition: width 1s;
}

.screen-indicator {
    border-radius: 50%;
    border: 3px solid black;
    background-color: black;
    padding: 10px 12px;
    color: gray;
    transition: border-color color;
    transition-duration: 0.7s;
    width: 20px;
    height: 20px;
    font-family: 'Fjalla One', sans-serif;
}

.completed {
    border-color: black;
    background-color: #FCBF49;
    color: #FCBF49;
}

@media screen and (max-width: 850px) {
    .title .icon {
        width: 20vw;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .project-top {
        flex-direction: column;
    }

    .project-title {
        font-size: 10vw;
        text-align: center;
    }

    .title-text {
        margin-top: 5vh;
        width: 100%;
        font-weight: 550;
        text-align: center;
    }

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .date h1 {
        font-size: 10vw;
        text-align: center;
        margin-top: 20px;
    }

    .right img{
        float: left;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
        width: 30vw;
    }
}

@media screen and (max-width: 1200px) {
    .stepper-container{
        flex-direction: column-reverse;
    }

    .arrow-project{
        width: 10vw;
    }

    .arrows-stepper{
        width: 100%;
        padding-left: 16px;
    }

    .previous-project{
        margin-right: 50%;
        transform: rotate(180deg) scale(150%) translateX(-50%);
    }

    .stepper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        text-align: center;
    }
    
    .stepper-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .screen-indicator {
        border-radius: 50%;
        border: 2px solid black;
        width: .2rem;
        height: .2rem;
    }

    .left{
        height: 45vh;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .stepper-container{
        margin-top: 16vh;
    }
} */

.project{
    width: 100%;
    height: 100vh;
}

.project-grid{
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 80%;
    height: 80%;
}

.project-icon{
    grid-area: 1 / 1 / 2 / 2;
    background-image: url("../images/icons/projects.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.project-text{
    grid-area: 2 / 1 / 4 / 4;
}

.project-text h3{
    font-size: 3vw;
}

.inline-project-title{
    display: flex;
    align-items: center;
    font-size: 2vw;
}

.download-cr{
    margin-left: 15px;
    margin-top: 12px;
    text-decoration: none;
    color: black;
}

.download-cr:hover{
    color: var(--main-dark);
}

.project-text p{
    font-size: 1vw;
}

.project-date{
    grid-area: 4 / 1 / 5 / 4;
    font-family: 'Fjalla One', sans-serif;
    font-size: 6vw;
    font-weight: bold;
}

.project-image{
    grid-area: 1 / 4 / 5 / 6;
    background-image: url("../images/projets/0.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.project-stepper{
    grid-area: 5 / 2 / 6 / 6;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.project-arrow-stepper{
    grid-area: 5 / 1 / 6 / 2;
    display: flex;
}

@media screen and (max-width: 1500px){
    .project-grid{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    
    .project-icon{
        display: none;
    }
    
    .project-text{
        grid-area: 1 / 1 / 3 / 6;
        text-align: center;
    }
    
    .project-date{
        grid-area: 3 / 2 / 4 / 5;
        text-align: center;
        font-size: 4vw;
    }
    
    .project-image{
        grid-area: 3 / 2 / 6 / 5;
        background-position: center;
    }
    
    .project-stepper{
        grid-area: 6 / 2 / 7 / 5;
    }
    
    .project-arrow-stepper{
        grid-area: 7 / 3 / 8 / 4;
    }

    .project-text h3{
        font-size: 4vw;
    }
    
    .project-text p{
        font-size: 1.2vw;
    }
}

.arrow-project {
    transition: .3s;
    width: 50%;
}

.previous-project {
    transform: rotate(180deg) scale(60%);
}

.next-project {
    transform: scale(60%);
}

.previous-project:hover {
    cursor: pointer;
    transform: rotate(180deg) scale(70%);
}

.next-project:hover {
    cursor: pointer;
    transform: scale(70%);
}
.stepper-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.stepper-wrapper::before {
    content: "";
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
    z-index: -2;
}

.progress {
    content: "";
    width: 0%;
    height: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #FCBF49;
    position: absolute;
    z-index: -1;
    transition: width 1s;
}

.screen-indicator {
    border-radius: 50%;
    border: 3px solid black;
    background-color: black;
    padding: 10px 12px;
    color: gray;
    transition: border-color color;
    transition-duration: 0.7s;
    width: 20px;
    height: 20px;
    font-family: 'Fjalla One', sans-serif;
}

.completed {
    border-color: black;
    background-color: #FCBF49;
    color: #FCBF49;
}


/* LOADING SCREEN */

.loader {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #EAE2B7;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.lettre {
    color: #484848;
    font-size: 4rem;
    letter-spacing: 15px;
    animation: flash 1.2s linear infinite;
}
@keyframes flash {
    0% {
        color: #F77F00;
        text-shadow: 0 0 7px #F77F00;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #F77F00;
        text-shadow: 0 0 7px #F77F00;
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out {
    display: none;
}

/* A propos du BTS SIO */

.hover-btssio{
    cursor: pointer;
}

.content-btssio{
    position: fixed;
    top: 5vh;
    z-index: 11;
    background-color: white;
    margin: 50px 120px 50px 120px;
    border-radius: 5px;
    max-height: 80vh;
    -webkit-box-shadow: 0px 0px 20px -10px #000000; 
    box-shadow: 0px 0px 20px -10px #000000;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.fermer-btssio{
    position: absolute;
    top: 40px;
    right: 40px;
    outline: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
    background: none;
    font-size: 24px;
    cursor: pointer;
    transition: .3s;
}

.fermer-btssio:hover{
    background: black;
    color: white;
}

.bts-title{
    text-align: center;
    font-size: 52px;
    text-decoration: underline;
    margin-top: 30px;
    color: black;
    line-height: 140px;
}

.bts-description{
    text-align: center;
    font-size: 20px;
    margin: 0 300px;
}

.options-title{
    margin-top: 10vh;
    margin-left: 100px;
    text-decoration: underline;
    margin-left: 10vw;
}

.options{
    width: 100%;
    height: 40%;
    display: inline-flex;
    justify-content: center;
    margin-top: 3vh;
}

.options div{
    border-radius: 10px;
    height: 100%;
    width: 30vw;
    margin: 0 60px;
}

.option-title{
    font-size: 32px;
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
}

.options div hr{
    height: 2px;
    background-color: black;
    border: none;
    width: 10vw;
    margin: 10px auto 20px auto;
}

.options div h4{
    text-align: center;
    margin-bottom: 4px;
    font-weight: normal;
}

.option-description{
    line-height: 20px;
    text-align: justify;
}

.bts-table{
    border: 2px solid black;
    width: 60%;
    margin: 3vh auto;
    border-collapse: collapse;
}

.bts-table tbody tr:not(.table-title){
    cursor: pointer;
}

.bts-table tbody tr td{
    padding-left: 10px;
    font-size: 18px;
}

.bts-table tbody tr:hover:not(.table-title){
    background-color:lightgray;
}

.bts-table tbody .table-title{
    background-color: var(--main-light);
}

.bts-table tbody .table-title td{
    color: white;
    font-size: 22px;
    padding-left: 5px;
}

.poursuite-title{
    margin: 2vh 12vw 0 12vw;
    font-size: 20px;
    font-weight: 700;
}

.poursuite-description{
    margin: 0 13vw;
}

/* SECTION Certifications */

.certifications{
    width: 100%;
}

.h1-certifications {
    font-family: Roboto;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 125px;
}

.h1-certifications span {
    color: #FCBF49;
}

.h1-certifications-underline {
    background-color: black;
    width: 15vw;
    height: 10px;
    margin-left: 125px;
    border-radius: 4px;
}

.certification img{
    width: 15vw
}

@media screen and (max-width: 850px) {
    .h1-certifications {
        text-align: center;
        margin-left: 0;
        font-size: 2.5rem;
    }
    .h1-certifications-underline {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 50vw;
        margin-top: -10px;
    }

    .certification img{
        width: 6rem;
    }    
}

.certif-container{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}

/* SECTION Veilles */

.veilles{
    margin: 10vh 0;
}

.flex-veilles{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 10vh;
}

.veille{
    width: 15vw;
    height: 46vh;
    margin: 0 20px;
    box-shadow: 0px 12px 16px #36363624;
    display: flex;
    flex-direction: column;
}

.veille i{
    font-size: 80px;
    margin-top: -5vh;
    color: #F77F00;
    padding: 5px 20px 30px 20px;
    border-radius: 20%;
}

.veille .veille-title{
    display: flex;
    justify-content: center;
}

.veille h2{
    text-align: center;
    margin-top: -3vh;
}

.veille p{
    text-align: center;
    margin: 10px 20px 0 20px;
    height: 20vh;
}

.veille ul{
    margin: auto 20px 20px 20px;
}

.veille ul li{
    margin-left: 30px;
    list-style: square;
}

.veille ul li a{
    text-decoration: underline;
    color: black;
    transition: .3s;
}

.veille ul li a:hover{
    color: var(--main-dark);
}